@import  './reset.scss';
@import  './color.scss';
@import '../assets/icon/iconfont.css';
*{
      box-sizing: border-box;
}
.pb-10 {
      padding-bottom: 10px 
}
.mb-20 {
      margin-bottom: 20px 
}
.mb-30 {
      margin-bottom: 30px 
}
.p-20{
      padding: 20px;
}
/*  This is about position  */
.f-right{
      float: right;
}
.f-left{
      float: left;
}
.clear{
      display: table;
      content: "";
      clear: both;
}
/*  This is about font size  */

/*  This is about color  */
.c-lightGreen{
      color: $base-color;
}
.c-white{
      color: $white;
}
.clear{
      display: table;
      content: "";
      clear: both;
}
/*  This is about width  */
.width-200 {
      width: 200px !important
}
.width-full{
      width: 100%;
}
.welcome{
      font-weight: 600;
      font-size: 16px;
}
.login{
      .iconfont{
            font-size: 20px;
      }
}
















